opencv-python
opencv-python-headless
python-chess
stockfish
fastapi
uvicorn
numpy
requests
chess
pydantic
python-multipart
pyserial
pyrealsense2-macosx
anyio
h11
jinja2
setuptools
wheel
certifi
urllib3